[submodule "gl4es"]
	path = gl4es
	url = https://github.com/ptitSeb/gl4es/
[submodule "yfrmbase"]
	path = yfrmbase
	url = https://github.com/okuoku/yfrmbase
[submodule "cwgl-glue"]
	path = cwgl-glue
	url = https://github.com/okuoku/cwgl-glue
